<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.number_field :sum, placeholder: "Amound", class: "form-control width-80" %>
    <%= f.date_field :date, placeholder: "Date", class: "form-control width-80" %>
    <%= f.select(:category, options_from_collection_for_select(current_user.categories, "name", "name"),{}, {class: "form-control width-80"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
